<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level - %class | %M | %L | %n%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss} [%thread] %-5level - %class | %M | %L | %n%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level - %class.%M | %L | %n%msg%n</pattern>
        </encoder>
    </appender>
    <!--    <root level="${log_level}">-->
    <root level="debug">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="TIME_BASED_FILE"/>
        <appender-ref ref="FileAppender"/>
    </root>
</configuration>